<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics" version="5.0.0-alpha02" targetFramework="net47" />
  <package id="MathNet.Spatial" version="0.6.0" targetFramework="net47" />
  <package id="ModPlus.AutoCAD.API.2018" version="1.0.0" targetFramework="net47" />
  <package id="System.Diagnostics.Contracts" version="4.3.0" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net47" />
</packages>